.navbar {
  background-color: transparent;
  .navbar-brand {
    font-weight: 700;
  }
}

.nav-item {
  .nav-link {
    color: $nav-link-color;
    &:hover {
      color: $color1;
      border-bottom: 1px solid $color1;
    }
  }
}

@media (max-width: 768px) {
  .offcanvas {
    color: green;
    &-title {
      font-size: 2rem;
      font-weight: 700;
    }
  }
}
