.products-tittle {
  text-align: center;
  padding: 2rem 0rem;
  h1,
  h2 {
    font-size: 4rem;
    font-weight: 700;
    color: $color1;
  }
}

.brunch-img {
  clip-path: $brunch-clippy;
}

.products-description {
  font-size: 2.5rem;
  text-align: justify;
}

.products-text {
  font-size: 2.5rem;
  text-align: justify;
  padding: 2rem;
}
<<<<<<< HEAD

.dark h1,
.dark .products-text {
  color: $color5;
}

@media (max-width: 767px) {
  .navbar-toggler {
    font-size: 2.5rem;
  }
}
=======
>>>>>>> parent of 57f5df9 (arreglo estilos de modo oscuro)
